# Django & Python
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/staticfiles/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Jupyter / IPython
.ipynb_checkpoints

# IDE / Editor
.idea/
.spyderproject
.spyproject
.ropeproject

# Media files (Cloudinary handles uploads)
media/
