# Django & Python
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
media

# Static files collected by collectstatic
/staticfiles/

# Python bytecode / packaging
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other IDE / editor files
.spyderproject
.spyproject
.ropeproject
.idea/

# Cloudinary, media, etc.
# media/  ← leave commented so media files can be versioned if needed temporarily

# Removed SQLite so it will be included in Git temporarily
# db.sqlite3
# db.sqlite3-journal





