{% extends "tut/base.html" %}
{% load static %}


{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Login</h4></header>
		<form action='{% url "login" %}' method='post'>

				{% csrf_token %}
			
				

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
					<label>Email</label>
					<input type="email" name="email" placeholder='enter your email address' class="form-control" id="" required>
				</div> <!-- form-group end.// -->


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
					<label>Password</label>
					<input type="password" name="password" placeholder='enter your password' class="form-control" id="" required>
				</div> <!-- form-group end.// -->
				
			
				
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
			    </div> <!-- form-group// -->   
				
				<div class="form-group">
					{% include "accounts/alerts.html" %}
			    </div> <!-- form-group// --> 

			        
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}




